/* Colors */
$green: green;
$yellow: yellow;
$red: #fb051a; // Exact color in mockup
$black: black;
$white: white;
$offwhite: #efefef;
$grey: #666;
$lightgrey: lightgrey;

/* Borders */
$border-radius: 0.3rem;

/* Shadows */
$shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

/* Spacing */
$spacing-small: 0.2rem;
$spacing-medium: 0.7rem;
$spacing-large: 1rem;